<main class="main">
  {{itemCur | json}}
  <div>
    <input type="text" placeholder="Name" [(ngModel)]="itemCur.name">
    <input type="text" placeholder="Age" [(ngModel)]="itemCur.age">
    <input type="text" placeholder="Nationality" [(ngModel)]="itemCur.nationality">
    <button (click)="handleAddData()">+</button>
    <button (click)="handleUpdateData()">++</button>
    <button (click)="onClearState()">Clear</button>
  </div>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Age</th>
        <th>Nationality</th>
        <th>Action 1</th>
        <th>Action 2</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of listData; index as i">
        <td>{{item['name']}}</td>
        <td>{{item['age']}}</td>
        <td>{{item['nationality']}}</td>
        <td><button (click)="onPickItem(item)">Pick</button></td>
        <td><button (click)="handleDeleteData(item.id)">Drop</button></td>
      </tr>
    </tbody>
  </table>
</main>

<router-outlet />
